<h1><%= @res_hash["TDnetList"]["condition_desc"] %></h1>
<p>取得件数: <%= @res_hash["TDnetList"]["total_count"] %>件</p>

<!-- TDnet情報を表示 -->
<ul class="tds">
  <% @tds.each do |td| %>
    <div class="td">
      <h2 class="inc">
        <%= td["Tdnet"]["company_name"] %>
        【<%= td["Tdnet"]["company_code"].chop %>】
        <span class="market">/<%= td["Tdnet"]["markets_string"] %></span>
      </h2>
      <ul class="doc-info">
        <li class="td-item"><%= link_to(td["Tdnet"]["title"], 
                                        URI.parse(td["Tdnet"]["document_url"]).query ) %></li>
        <li class="td-item"><%= td["Tdnet"]["pubdate"] %></li>
      </ul>
    </div>
  <% end %>
</ul>
