-# 銘柄コード検索フォーム
= render('shared/ts_search')

-# TDリスト（ウォッチリスト）
.mb-5
  %h1.h5.mb-4 適時開示情報（ウォッチ中）
  - if logged_in?
    = render('shared/tdi_list')
    = link_to(feed_path, 
              class: "text-muted d-flex justify-content-end my-2 align-middle") do
      %span.small.mr-1 もっと見る
      = icon('fas', 'angle-right')
  - else
    = link_to('/login',
              class: "text-center") do
      .btn.btn-outline-primary.btn-block
        = icon( "fas", "eye", class: 'mr-1')
        ログインしてウォッチ

-# TDnet情報を表示
.mb-4
  %h1.h5.mb-4
    適時開示情報（最新）
  = render(partial: 'shared/tdi', collection: @recent)
  = link_to(daily_path, 
            class: "text-muted d-flex justify-content-end my-2 align-middle") do
    %span.mr-1
      本日分
      = icon('fas', 'angle-right')
