<%# 銘柄コード検索フォーム %>
<%= render 'shared/ts_search' %>

<%# TDリスト（ウォッチリスト） %>
<div class="mb-5">
  <h1 class="h5 mb-4">適時開示情報（ウォッチ中）</h1>
  <%= render 'shared/td_list', tds: @feed %>
  <%= link_to feed_path, class: "text-muted d-flex justify-content-end my-2 align-middle" do %>
    <span class="small mr-1">もっと見る</span>
    <%= icon 'fas', 'angle-right' %>
  <% end %>
</div>


<%# TDnet情報を表示 %>
<div class="mb-4">
  <h1 class="h5 mb-4">適時開示情報（最新）</h1>
  <%= render 'shared/td_list2', tds2: @recent %>
</div>

