? provide :title, 'パスワードをお忘れの方'

%h1.h5.pb-4 パスワードをお忘れの方

= form_with scope: :password_reset, url: password_reset_url, local: true, id: "new_password_reset_form" do |form|
  #= render '/shared/form_errors'

  .mb-4
    = form.label :email, "メールアドレス"
    = form.text_field :email, id: "user-email", class: "form-control"

  .mb-3
    = form.submit "パスワードを再設定", id: "submit-password-reset"

.my-5
  = link_to "ログインへ戻る", login_path
