- provide(:title, t('.title'))

%h1.h5.pb-4
  = t('.title')

= form_with(url: password_resets_path,
            local: true,
            id: "new-password-reset-form") do |form|

  .mb-4
    = form.label(:email,
                 t('user.email', scope: 'activerecord.models'))
    = form.text_field(:email,
                      id: "user-email",
                      class: "form-control")

  .mb-4
    = form.submit(t('.submit'),
                  id: "submit-password-reset",
                  class: "btn btn-primary btn-block mb-2")

.mb-3
  = link_to(t('helpers.cancel'),
            login_path,
            role: "button",
            id: "cancel",
            class: "btn btn-outline-secondary btn-block")