%h1
  = t('user_mailer.account_activation.title', user_name: @user.name)

%p{:style => "margin: 0 0 10px;"}
  = t('user_mailer.account_activation.click_button')

- link_text = t('user_mailer.account_activation.activation_button')
- button_style = ["background: #222222",
                  "color: #ffffff",
                  "text-decoration: none",
                  "border: 1px solid #000000",
                  "border-radius: 4px",
                  "display: block",
                  "margin: 10px 0 40px",
                  "padding: 13px 17px"]

= link_to(link_text, @url, style: button_style.join(";"))

%p{:style => "margin: 0 0 10px 0;"}
  = t('user_mailer.account_activation.or_use_url')

= link_to(@url.to_s, @url, style: "margin: 13px 0;")
