-# 新規登録・変更時のフォーム

= form_with( model: @user, local: true, id: yield(:form_id)) do |form|

  = render 'form_errors', model: @user

  .mb-4
    = form.label :name
    = form.text_field :name,
                      id: "user-name",
                      class: 'form-control'
  .mb-4
    = form.label :email
    = form.text_field :email,
                      id: "user-email",
                      class: 'form-control'
  .mb-2
    = form.label :password
    = form.password_field :password,
                          id: "user-password",
                          class: 'form-control'
  .mb-4
    = form.label :password_confirmation
    = form.password_field :password_confirmation,
                          id: "user-password-confirmation",
                          class: 'form-control'
  .mb-5
    = form.submit yield(:submit_text),
                  class: "btn btn-primary btn-block mb-2"

    = link_to(t('helpers.cancel'),
              logged_in? ? mypage_path : root_url,
              class: "btn btn-outline-secondary btn-block", 
              role: "button")
