- provide(:title, t('.title'))

.my-4
  -# アカウント名
  %h1.h5
    = @user.name

  -# 登録情報
  .mb-4
    .email
      %span.badge.badge-pill.badge-secondary
        = t('user.email', scope: 'activerecord.models')
      = @user.email
    .d-flex.justify-content-end
      = link_to(t('nav.user_edit'),
                edit_user_path(id: @user),
                class: "inline-block btn btn-outline-secondary btn-sm",
                role: "button")

  -# ウォッチリスト
  .mb-4
    = link_to(watchlist_path,
              id: "watchlist-link",
              class: "btn btn-secondary btn-block ",
              role: "button") do
      = icon('fas', 'building')
      = t('nav.watchlist')
      %span.badge.badge-pill.badge-light
        = t('number.companies', count: @user.watchlists.count)

  -# フィード（TDリスト）
  .mb-4
    = link_to(feed_path, id: "feed-link") do
      .w-auto.p-2.border-top.rounded-top.text-white.bg-secondary.text-center
        = icon('fas', 'rss')
        = t('nav.tdi_feed')
    = render('shared/tdi_list')
    = link_to(feed_path, 
              class: "text-muted d-flex justify-content-end my-2 align-middle") do
      %span.small.mr-1
        = t('link.more')
      = icon('fas', 'angle-right')

  -# ログアウト・アカウント削除
  .destroy-content.mt-5.mb-4
    = link_to(logout_path,
              class: "btn btn-outline-secondary btn-block btn-sm mb-4",
              method: :delete,
              role: "button") do
      = icon( "fas", "sign-out-alt")
      = t('nav.logout')

    = link_to(user_path(id: @user),
              method: :delete,
              id: "delete-user",
              class: "text-danger small",
              data: { confirm: t('.confirm_to_delete_user') } ) do
      = t('nav.user_delete')
