<% provide(:title, 'ウォッチリスト') %>

<div class="my-4">
  
  <%# アカウント名 %>
  <%= link_to mypage_path, class: 'text-decoration-none' do %>
      <div class="h5 inline mb-4">
        <%= icon 'fas', 'angle-left mr-1' %>
        <%= @user.name %>
      </div>
    <% end %>

  <%# ウォッチリスト %>
  <div class="mb-4">
    <div class="mb-4">
      <h1 class="h5 d-inline-block">
        ウォッチリスト
      </h1>
      <span class="badge badge-pill badge-secondary">
        <%= @user.watchlists.count %>社
      </span>
    </div>

    <%# 上部ナビゲーション・フィードナビ %>
    <div class="container mb-4">
      <%= render 'users/feed_nav' %>
    </div>


    <%# 企業リスト %>
    <% if @companies.count > 0 %>
      <div class="my-4">
        <%= paginate @companies %>
      </div>
      <ul class="list-group list-group-flush border-top">
        <% @companies.each do |com| %>
          <%= link_to( { controller: 'companies', 
                          action: 'show', 
                          id: com.local_code },
                          class: "list-group-item list-group-item-action flex-column align-items-start px-2") do %>
            <span class="company-name">
                <b><%= com.company_name %></b>
            </span>
            <div>
              <%= render partial: 'shared/company_symbol', 
                          locals: { local_code: com.local_code, 
                                    market_division: com.market_division } %>
            </div>
          <% end %>
        <% end %>
      </ul>

      <div class="my-4">
        <%= paginate @companies %>
      </div>
    <%# ウォッチリストに登録がなかった場合 %>
    <% else %>
      <%= link_to '/companies', 
                  class: "text-center" do %>
        <div class="border-top border-bottom px-2 py-4">
          <%= icon( "fas", "globe", class: 'mr-1') %>
          企業を探す
        </div>
      <% end %>
    <% end %>
  </div>

  <%# 下部ナビゲーション %>
  <div class="foot-nav">
    <%# フィードナビ %>
    <div class="container mb-4">
      <%= render 'users/feed_nav' %>
    </div>
    
    <%# マイページ %>
    <%= link_to mypage_path, class: "btn btn-outline-secondary btn-block",
                                role: "button" do %>
      <%= icon 'fas', 'angle-left' %>
      マイページ
    <% end %>
  </div>

</div>