%span.company-symbol.align-baseline
  %span.company-ticker.badge.badge-pill.badge-secondary.font-weight-normal
    = local_code
  %span.company-market.badge.badge-pill.badge-light.font-weight-normal
    - case market_division
      - when "市場第一部（内国株）", "市場第一部（外国株）"
        = "東証1"
      - when "市場第二部（内国株）", "市場第二部（外国株）"
        = "東証2"
      - when "JASDAQ(スタンダード・内国株）", "JASDAQ(グロース・内国株）", "JASDAQ(スタンダード・外国株）"
        = "JASDAQ"
      - when "マザーズ（外国株）", "マザーズ（内国株）"
        = "マザーズ"
      - when "ETF・ETN"
        = "ETF"
      - when "REIT・ベンチャーファンド・カントリーファンド・インフラファンド"
        = "REIT"
      - when "出資証券"
        = "証券"
      - when "PRO Market"
        = "PRO"
      - else
        = market_division