-# 企業情報 ＋ TD情報 の二行構成
- count = td_counter + 1

-# リストアイテム
.border-bottom{ id: "#td-item-#{count}"}
  -# 企業情報
  .company-info.position-relative.bg-light
    = link_to( { controller: 'companies', 
                 action: 'show',
                 id: td["local_code"] },
              id: "company-link-#{count}",
              class: "stretched-link text-decoration-none" ) do
      .company.py-2.px-2
        -# 企業名
        %span.company-name.font-weight-bold.text-secondary
          = td["company_name"]
        -# 企業シンボル
        = render('shared/company_symbol', td: td)

  -# TD情報
  .doc-info.position-relative
    = link_to(td["info_url"],
              target: "_blank",
              id: "td-link-#{count}",
              class: "stretched-link text-decoration-none") do
      .document.py-2.px-2
        -# ドキュメント名
        .doc-title.text-primary
          = td["info_title"]
          = icon("far", "clone", class: "caption-icon")
        -# 公開日時
        .pub-date.caption-text
          = td["pub_date"]
