-# TDnet情報をリスト表示
-# tds_hash()から取得
%section.list.border-top

  - if tds2
    - tds2.each do |td|
      - # 情報抽出
      - local_code = td["Tdnet"]["company_code"].chop
      - unless company_name = Company.where(local_code: local_code).pluck(:company_name)[0]
        - company_name = td["Tdnet"]["company_name"]

      .border-bottom
        -# 企業情報
        .company-info.position-relative.bg-light
          = link_to( { controller: 'companies',               |
            action: 'show',                                   |
            id: local_code },                                 |
            class: "stretched-link text-decoration-none" ) do |
            .company.py-2.px-2
              %span.company-name.font-weight-bold.text-secondary
                = company_name
              = render 'shared/company_symbol',                |
                local_code: local_code,                        |
                market_division: td["Tdnet"]["markets_string"] |

        -# TD情報
        .doc-info.position-relative
          = link_to(URI.parse(td["Tdnet"]["document_url"]).query, |
            target: "_blank",                                     |
            class: "stretched-link text-decoration-none" ) do     |
            .document.py-2.px-2
              .doc-title.text-primary
                = td["Tdnet"]["title"]
                = icon("far", "clone", class: "caption-icon")
              .pub-date.caption-text
                = td["Tdnet"]["pubdate"]
  - else
    = link_to '/companies',   |
      class: "text-center" do |
      .border-bottom.px-2.py-4
        = icon( "fas", "globe", class: 'mr-1')
        企業を探す
