<%# TDnet情報をリスト表示 %>
<%# tds_hash()から取得 %>
<section class="list border-top">
  <% if @tds %>
    <% @tds.each do |td| %>
      <% # 情報抽出 
        local_code = td["Tdnet"]["company_code"].chop 
        unless company_name = Company.where(local_code: local_code).pluck(:company_name)[0]
          company_name = td["Tdnet"]["company_name"]
        end
      %>

      <%# リストアイテム %>
      <div class="border-bottom">
        <%# 企業情報 %>
        <div class="company-info position-relative bg-light">
          <%= link_to( { controller: 'companies', 
                        action: 'show', 
                        id: local_code },
                        class: "stretched-link text-decoration-none" ) do %>
            <div class="company py-2 px-2">
              <%# 企業名 %>
              <span class="company-name font-weight-bold text-secondary">
                <%= company_name %>
              </span>
              <%# メタ情報 %>
              <%= render 'shared/company_symbol', 
                          local_code: local_code,
                          market_division: td["Tdnet"]["markets_string"] %>
            </div>
          <% end %>
        </div>

        <%# ドキュメント情報 %>
        <div class="doc-info position-relative">
          <%= link_to(URI.parse(td["Tdnet"]["document_url"]).query,
                      target: "_blank",
                      class: "stretched-link text-decoration-none" ) do %>
            <div class="document py-2 px-2">
              <%# ドキュメント名 %>
              <div class="doc-title text-primary">
                <%= td["Tdnet"]["title"] %>  
                <%= icon("fas", "clone", class: "caption-text") %>
              </div>
              <%# 公開日時 %>
              <div class="pub-date caption-text">
                <%= td["Tdnet"]["pubdate"] %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= link_to '/companies', 
                class: "text-center" do %>
      <div class="border-bottom px-2 py-4">
        <%= icon( "fas", "globe", class: 'mr-1') %>
        企業を探す
      </div>
    <% end %>
  <% end %>
</section>