<%# TDnet情報をリスト表示 %>
<%# tds_hash()から取得 %>
<table class="tds table table-hover">
  <% @tds.each do |td| %>
      <tr class="company-info table-sm table-active">
        <td class="position-relative">
          <%= link_to(controller: 'companys', 
                      action: 'show', 
                      id: td["Tdnet"]["company_code"].chop,
                      class: "stretched-link") do %>
            <div class="company td-item">
              <span class="company-name">
                <%= td["Tdnet"]["company_name"] %>
              </span>
              <span class="company-symbol">
                <span class="company-ticker">
                  <%= td["Tdnet"]["company_code"].chop %>
                </span>
                <span class="company-market">
                  <%= td["Tdnet"]["markets_string"] %>
                </span>
              </span>
            </div>
          <% end %>
        </td>
      </tr>
      <tr class="doc-info">
        <td class="position-relative">
          <%= link_to(URI.parse(td["Tdnet"]["document_url"]).query,
                      target: "_blank",
                      class: "stretched-link" ) do %>
            <div class="td-item doc-title">
              <%= td["Tdnet"]["title"] %>
            </div>
            <div class="td-item pub-date caption-text">
              <%= td["Tdnet"]["pubdate"] %>
            </div>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>