<!-- TDnet情報をリスト表示 -->
<!-- tds_hash()から取得 -->
<ul class="tds">
  <% @tds.each do |td| %>
    <div class="td">
      <div class="company-info">
        <h2 class="company-name"><%= td["Tdnet"]["company_name"] %></h2>
        <div class="company-symbol">
          <span class="company-ticker">
            <%= td["Tdnet"]["company_code"].chop %>
          </span>
          <span class="company-market">
            <%= td["Tdnet"]["markets_string"] %>
          </span>
        </div>
      </div>
      <ul class="doc-info">
        <li class="td-item doc-title">
          <%= link_to(td["Tdnet"]["title"], 
          URI.parse(td["Tdnet"]["document_url"]).query ) %>
        </li>
        <li class="td-item pub-date">
          <%= td["Tdnet"]["pubdate"] %>
        </li>
      </ul>
    </div>
  <% end %>
</ul>