<%# 企業一覧を表示 %>
<div class="my-4">
  <%= paginate @companies %>
</div>

<ul class="list-group list-group-flush border-top">
  <% @companies.each do |company| %>
    <% @company = company %>
    <%= link_to( { controller: 'companies', 
                    action: 'show', 
                    id: company.local_code },
                    id: "company-link-#{company.local_code}",
                    class: "list-group-item list-group-item-action flex-column align-items-start px-2") do %>
      <span class="company-name">
          <b><%= company.company_name %></b>
      </span>
      <div>
        <%= render partial: 'shared/company_symbol', 
                    locals: { local_code: company.local_code, 
                              market_division: company.market_division } %>
      </div>
    <% end %>
    
    <%# Ajaxが#watch-formをターゲットに動作しているため、リスト表示するとターゲットが複数存在するため正常に動作しない。今後の改善点。%>
    <%#= render 'shared/watch_form' %>
  <% end %>
</ul>

<div class="my-4">
  <%= paginate @companies %>
</div>
