-# 各セクターの企業一覧
- flag = @companies[0][:topix_sector_indices]
- tsi = flag == "-" ? t('companies.tsi.uncategorized') : flag
- provide(:title, t('.title', tsi: tsi))

-# ページタイトル
.content-title.mb-4
  %h1.h5
    = t('.sub_title')
  %h2.font-weight-bold
    = tsi

-# セクター一覧の開閉ボタン
- c = "btn btn-block btn-sm btn-outline-secondary"
%button{ class: c,
aria: { controls: "sector-list", expand: "false" },
data: { target: "#sector-list", toggle: "collapse" } }
  = t('nav.sector_list')

-# セクターをリスト表示
#sector-list.collapse.pt-3
  = render('sector_list')

-# 企業一覧を表示
= render('companies/company_list')
