-# 各セクターの企業一覧
- tsi = @companies[0][:topix_sector_indices] == "-" ? t('companies.tsi.uncategorized') : @companies[0][:topix_sector_indices]
- provide(:title, t('.title', tsi: tsi))

.content-title.mb-4
  %h1.h5
    = t('.sub_title')
  %h2.font-weight-bold
    = tsi

-# セクターをリスト表示
%button.btn.btn-outline-secondary.btn-block.btn-sm{"aria-controls" => "sector-list", "aria-expand" => "false", "data-target" => "#sector-list", "data-toggle" => "collapse"}
  = t('nav.sector_list')
#sector-list.collapse.pt-3
  = render('sector_list')

-# 企業一覧を表示
= render('companies/company_list')
