<%# 銘柄コード検索フォーム %>
<%= render 'shared/ts_search' %>

<h1><%= @page_title %></h1>
<h2><%= @res_hash["TDnetList"]["items"]["item"][0]["Tdnet"]["company_name"] %></h2>
<div class="company-symbol">
  <span class="company-ticker">
    <%= @res_hash["TDnetList"]["items"]["item"][0]["Tdnet"]["company_code"].chop %>
  </span>
  <span class="company-market">
    <%= @res_hash["TDnetList"]["items"]["item"][0]["Tdnet"]["markets_string"] %>
  </span>
</div>
<p>取得件数: <%= @res_hash["TDnetList"]["total_count"] %>件</p>

<%# TDnet情報を表示 %>
<%= render 'companies/td_list_companypage' %>
