- bs_c = @bootstrap_class_list
- bs_c.merge!({ s: '',
    form_checkbox: 'form-check-input',
    form_checkbox_label: 'form-check-label',
    v: '' })

%h2{ class: bs_c[:page_title] }
  ログイン

#sign-in-form{ class: bs_c[:form] }
  = form_for(resource,
             as: resource_name,
             url: session_path(resource_name)) do |f|
    .field{ class: bs_c[:form_group] }
      = f.label :email,
                'メールアドレス'
      = f.email_field :email,
                      autofocus: true,
                      autocomplete: "email",
                      id: 'form-email',
                      class: bs_c[:form_field]

    .field{ class: bs_c[:form_group] }
      = f.label :password,
                'パスワード'
      = f.password_field :password,
                         autocomplete: "current-password",
                         id: 'form-password',
                         class: bs_c[:form_field]

    .field.form-check{ class: bs_c[:form_group] }
      = f.check_box :remember_me,
                    class: bs_c[:form_checkbox]
      = f.label :remember_me,
                '自動ログインする',
                class: bs_c[:form_checkbox_label]

    .actions{ class: bs_c[:form_group] }
      = f.submit 'ログイン',
                 id: 'form-submit',
                 class: bs_c[:form_submit]

= render "devise/shared/links"
