<!-- Footer -->
<footer class="page-footer font-small my-5">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row-->
    <div class="row align-items-center py-4">
      <div class="col"></div>
      <!-- Twitter -->
      <div class="col text-center">
        <%= link_to "https://twitter.com/K2_Yoshiko",
                    class: "tw-ic" do %>
          <%= icon('fab', 'twitter',
                  target: "_blank",
                  class: "white-text fa-2x") %>
        <% end %>
      </div>
      <!--GitHub-->
      <div class="col text-center">
        <%= link_to "https://github.com/yoshikouki",
                    class: "github-ic" do %>
          <%= icon('fab', 'github',
                  target: "_blank",
                  class: "white-text fa-2x") %>
        <% end %>
      </div>
      <!-- Facebook -->
      <div class="col text-center">
        <%= link_to "https://www.facebook.com/koki.yoshimoto.9",
                    class: "fb-ic" do %>
          <%= icon('fab', 'facebook-f',
                  target: "_blank",
                  class: "white-text fa-2x") %>
        <% end %>
      </div>
      <div class="col"></div>
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->
  <!-- Copyright -->
  <div class="footer-copyright text-center pt-4">© 2020 yoshiko</div>
  <!-- Copyright -->
</footer>
<!-- Footer -->