-# ヘッダー
%header.sticky-top.navbar-light.bg-light.mb-4
  .container
    %nav.navbar.navbar-expand-sm.px-0
      -# サービスロゴの表示
      = link_to(t('haito_notice'),
                '/',
                id: "logo",
                class: "navbar-brand p-0")

      -# ナビゲーションメニュー
      %ul.nav.justify-content-end.h-100
        = link_to('/companies',
                  id: "companies-link",
                  class: "nav-item nav-link") do
          %li.text-center.align-middle
            = icon( "fas", "globe")

        - if logged_in?
          -# ログイン時
          = link_to('/mypage',
                    id: "mypage-link",
                    class: "nav-item nav-link") do
            %li.text-center.align-middle
              = icon( "fas", "user")
              = @current_user.name
        - else
          -# ログアウト時
          = link_to('/login',
                    class: "nav-item nav-link") do
            %li.text-center.align-middle
              = icon( "fas", "sign-in-alt")
              = t('nav.login')
