<%# ヘッダー %>
<header class="sticky-top navbar-light bg-light mb-4">
  <div class="container">
    <nav class="navbar navbar-expand-sm px-0">
      <%# サービスロゴの表示 %>
      <%= link_to "配当ノーティス", 
                  '/', 
                  id: "logo",
                  class: "navbar-brand p-0" %>
      
      <%# ナビゲーションメニュー %>
      <ul class="nav justify-content-end h-100">
          <%= link_to '/companies', 
                        class: "nav-item nav-link" do %>
            <li class="text-center align-middle">
              <%= icon( "fas", "globe") %>
            </li>
          <% end %>
        <% if logged_in? %>
        <%# ログイン時 %>
          <%= link_to '/mypage', 
                        class: "nav-item nav-link" do %>
            <li class="text-center align-middle">
              <%= icon( "fas", "user") %>
            <%= @current_user.name %>
            </li>
          <% end %>
        <% else %>
        <%# ログアウト時 %>
          <%= link_to '/login', 
                        class: "nav-item nav-link" do %>
            <li class="text-center align-middle">
              <%= icon( "fas", "sign-in-alt") %>
              ログイン
            </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>